.git
**/.git
node_modules
**/node_modules
.venv
**/.venv
__pycache__
**/__pycache__
*.pyc
dist
build
.DS_Store
.pytest_cache
.mypy_cache
.ruff_cache
.idea
.vscode
coverage
.env
.env.*
downloaded_files
